:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --gray-color: #888;
}

* {
    box-sizing: border-box;
}
*:focus {
    outline: none;
}

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    background-color: var(--blue-color);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue-alt-color);
}

.page {
    background-color: #F1F5F9;
    min-height: 100vh;
}

/* Start Sidebar */
.sidebar {
    width: 220px;
    box-shadow: 0 0 10px #DDD;
}

.sidebar > h3 {
    margin-bottom: 50px;
}

.sidebar > h3::before {
    content: "";
    background-color: #ddd;
    width: 80px;
    height: 2px;
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
}

.sidebar > h3::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -24px;
    transform: translateX(-50%);
    width: 12px;
    height: 12px;
    background-color: #ddd;
    border: 4px solid #fff;
    border-radius: 50%;
}

.sidebar ul li a {
    margin-bottom: 5px;
    transition: 0.3s;
}

.sidebar ul li:last-child a {
    color: #f00;
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
    background-color: #f6f6f6;
}

.sidebar ul li a span {
    font-size: 14px;
    margin-left: 10px;
}

@media (max-width: 767px) {
    .sidebar {
        width: 58px;
        padding: 10px;
    }

    .sidebar > h3 {
        font-size: 12px;
        margin-bottom: 15px;
    }

    .sidebar > h3::before, 
    .sidebar > h3::after {
        display: none;
    }

    .sidebar ul li a span {
        display: none;
    }
}
/* End Sidebar */

/* Start Content Head */
.content {
    overflow: hidden;
}
.head .search::before {
    font-family: var(--fa-style-family-classic);
    content: "\f002";
    font-weight: 900;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: var(--gray-color);
}
.head .search input {
    border: 1px solid #CCC;
    border-radius: 10px;
    margin-left: 5px;
    padding-left: 30px;
    width: 170px;
    transition: width 0.3s;
}
.head .search input:focus {
    width: 210px;
}
.head .search input:focus::placeholder {
    opacity: 0;
}
.head .icons .language {
    margin-left: 15px;
}
.head .icons img {
    width: 32px;
    height: 32px;
    margin-left: 15px;
}
.page h1 {
    margin: 20px 20px 40px;
}
.page h1::before, 
.page h1::after {
    content: "";
    height: 3px;
    position: absolute;
    bottom: -10px;
    left: 0;
}
.page h1::before {
    background-color: #fff;
    width: 120px;
}
.page h1::after {
    background-color: #000;
    width: 40px;
}

.wrapper {
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    margin-left: 20px;
    margin-right: 20px;
}

@media (max-width: 767px) {
    .wrapper {
        grid-template-columns: minmax(200px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }
}
/* End Content Head */

/* Start Welcome */
.welcome {
    overflow: hidden;
}
.welcome .intro img {
    width: 200px;
    margin-bottom: -10px;
}
.welcome .avatar {
    width: 64px;
    height: 64px;
    border: 2px solid var(--gray-color);
    border-radius: 50%;
    padding: 2px;
    box-shadow: 0 0 5px #DDD;
    margin-left: 20px;
    margin-top: -30px;
}
.welcome .body {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.welcome .body > div {
    flex: 1;
}
.welcome .visit {
    margin: 0 15px 15px auto;
    transition: 0.3s;
}
.welcome .visit:hover {
    background-color: var(--blue-alt-color);
}

@media (max-width: 767px) {
    .welcome .intro {
        padding-bottom: 30px;
    }
    .welcome .avatar {
        margin-left: 0;
    }
    .welcome .body > div:not(:last-child) {
        margin-bottom: 20px;
    }
}
/* End Welcome */

/* Start Quick Draft Widget */
.quick-draft textarea {
    resize: none;
    min-height: 180px;
}
.quick-draft .save {
    margin-left: auto;
    transition: 0.3s;
    cursor: pointer;
}
.quick-draft .save:hover {
    background-color: var(--blue-alt-color);
}
/* End Quick Draft Widget */

/* Start Targets Widget */
.targets .target-row .icon {
    width: 80px;
    height: 80px;
    margin-right: 15px;
}
.targets .details {
    flex: 1;
}
.targets .details .progress {
    height: 4px;
}
.targets .details .progress > span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}
.targets .details .progress > span span {
    position: absolute;
    bottom: 16px;
    right: -16px;
    padding: 2px 5px;
    border-radius: 6px;
    font-size: 11px;
}
.targets .details .progress > span span::after {
    content: "";
    border-color: transparent;
    border-width: 5px;
    border-style: solid;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}
.targets .details .progress > .blue span::after {
    border-top-color: var(--blue-color);
}
.targets .details .progress > .orange span::after {
    border-top-color: var(--orange-color);
}
.targets .details .progress > .green span::after {
    border-top-color: var(--green-color);
}
.blue .icon, 
.blue .progress {
    background-color: rgb(0 117 255 / 20%);
}
.orange .icon, 
.orange .progress {
    background-color: rgb(245 158 11 / 20%);
}
.green .icon, 
.green .progress {
    background-color: rgb(34 197 94 / 20%);
}
/* End Targets Widget */
/* Start Ticket Widget */
.ticket .box {
    border: 1px solid #CCC;
    width: calc(50% - 10px);
}

@media (max-width: 767px) {
    .ticket .box {
        width: 100%;
    }
}
/* End Ticket Widget */