:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --red-color: #f44336;
    --gray-color: #888;
}

* {
    box-sizing: border-box;
}
*:focus {
    outline: none;
}

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    background-color: var(--blue-color);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue-alt-color);
}

.page {
    background-color: #F1F5F9;
    min-height: 100vh;
}

/* Start Sidebar */
.sidebar {
    width: 220px;
    box-shadow: 0 0 10px #DDD;
}

.sidebar > h3 {
    margin-bottom: 50px;
}

.sidebar > h3::before {
    content: "";
    background-color: #ddd;
    width: 80px;
    height: 2px;
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
}

.sidebar > h3::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -24px;
    transform: translateX(-50%);
    width: 12px;
    height: 12px;
    background-color: #ddd;
    border: 4px solid #fff;
    border-radius: 50%;
}

.sidebar ul li a {
    margin-bottom: 5px;
    transition: 0.3s;
}

.sidebar ul li:last-child a {
    color: #f00;
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
    background-color: #f6f6f6;
}

.sidebar ul li a span {
    font-size: 14px;
    margin-right: 10px;
}

@media (max-width: 767px) {
    .sidebar {
        width: 58px;
        padding: 10px;
    }

    .sidebar > h3 {
        font-size: 12px;
        margin-bottom: 15px;
    }

    .sidebar > h3::before, 
    .sidebar > h3::after {
        display: none;
    }

    .sidebar ul li a span {
        display: none;
    }
}
/* End Sidebar */

/* Start Content Head */
.content {
    overflow: hidden;
}
.head .search::before {
    font-family: var(--fa-style-family-classic);
    content: "\f002";
    font-weight: 900;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: var(--gray-color);
}
.head .search input {
    border: 1px solid #CCC;
    border-radius: 10px;
    margin-right: 5px;
    padding-right: 30px;
    width: 170px;
    transition: width 0.3s;
}
.head .search input:focus {
    width: 210px;
}
.head .search input:focus::placeholder {
    opacity: 0;
}
.head .icons .notification::before {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    top: -5px;
    left: -5px;
    background-color: var(--red-color);
    border-radius: 50%;
}
.head .icons .language {
    margin-right: 15px;
}
.head .icons img {
    width: 32px;
    height: 32px;
    margin-right: 15px;
}
.page h1 {
    margin: 20px 20px 40px;
}
.page h1::before, 
.page h1::after {
    content: "";
    height: 3px;
    position: absolute;
    bottom: -10px;
    right: 0;
}
.page h1::before {
    background-color: #fff;
    width: 120px;
}
.page h1::after {
    background-color: #000;
    width: 40px;
}
/* End Content Head */